@model DotDigitalChallenge.Models.CampaignViewModel

@if (!string.IsNullOrEmpty(Model.CampaignCreateStatus))
{
    <h4 class="sub-header">Campaign Create Status: @Model.CampaignCreateStatus</h4>
}

@if (!string.IsNullOrEmpty(Model.CampaignSendStatus))
{
    <h4 class="sub-header">Campaign Sent Status: @Model.CampaignSendStatus</h4>
}

<ul class="nav nav-tabs">
    <li class="nav-item"><a href="#a" data-toggle="tab">Create</a></li>
    <li class="nav-item"><a href="#b" data-toggle="tab">Send</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active" id="a">
        <form asp-controller="Campaign" asp-action="CreateCampaign" method="post">
            <h2>
                Create Campaign
            </h2>
            <div class="form-group">
                <label>Campaign Name</label>
                <input class="form-control" type="text" name="campaignName" required />
            </div>
            <div class="form-group">
                <label>Campaign Subject</label>
                <input class="form-control" type="text" name="campaignSubject" required />
            </div>
            <div class="form-group">
                <label>From Name</label>
                <input class="form-control" type="text" name="campaignFromName" required />
            </div>
            <div class="form-group">
                <label>Campaign html Content</label>
                <textarea id="htmlContent" class="form-control" name="htmlContent" spellcheck="true"></textarea>
            </div>

            <div class="form-group">
                <label>Campaign plain Text Content</label>
                <textarea id="plainTextContent" class="form-control" name="plainTextContent" spellcheck="true"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            @if (!string.IsNullOrEmpty(Model.CampaignCreateStatus))
            {
                <h4 class="sub-header">Create Status: @Model.CampaignCreateStatus</h4>
            }
        </form>
    </div>
    <div class="tab-pane fade" id="b">
        <div class="container">
            @if (Model.Contacts != null && Model.Contacts.Count() > 0)
            {
                <div class="col-xs-6">
                    <h2 class="sub-header">Existing cotacts</h2>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Email</th>
                                    <th scope="col">Id</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var contact in Model.Contacts)
                                {
                                    <tr>
                                        <td>@contact.Email</td>
                                        <td>@contact.Id</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            @if (Model.Campaigns != null && Model.Campaigns.Count() > 0)
            {
                <div class="col-xs-6">
                    <h2 class="sub-header">Existing Campaigns</h2>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Id</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var campaign in Model.Campaigns)
                                {
                                    <tr>
                                        <td>@campaign.Name</td>
                                        <td>@campaign.Id</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        </div>

        <form asp-controller="Campaign" asp-action="SendCampaign" method="post">
            <h2>
                Send Campaign
            </h2>
            <div class="form-group">
                <label>Campaign Id</label>
                <input class="form-control" type="number" name="campaignId" required />
            </div>
            <div class="form-group">
                <label>Contact Id's (separate with comma)</label>
                <input class="form-control" type="text" name="contactIds" required />
            </div>
            <div class="form-group">
                <label>Send Date</label>
                <input class="form-control" type="datetime-local" name="sendDate" required />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            @if (!string.IsNullOrEmpty(Model.CampaignSendStatus))
            {
                <h4 class="sub-header">Sent Status: @Model.CampaignSendStatus</h4>
            }
        </form>
    </div>
</div>

<script>
    tinymce.init({
        selector: '#htmlContent',
        plugins: 'a11ychecker advcode casechange formatpainter linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tinymcespellchecker link',
        toolbar: 'a11ycheck casechange checklist code formatpainter pageembed permanentpen table link',
        toolbar_mode: 'floating'
    });
    tinymce.init({
        selector: '#plainTextContent',
        plugins: 'a11ychecker advcode casechange formatpainter linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tinymcespellchecker link',
        toolbar: 'a11ycheck casechange checklist code formatpainter pageembed permanentpen table link',
        toolbar_mode: 'floating'
    });
</script>